<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.data>
		<DbProviderFactories>
			<remove invariant="MySql.Data.MySqlClient"  />
			<add name="MySQL Data Provider"  invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider" />
		</DbProviderFactories>
	</system.data>
	<connectionStrings>
		<add name="Mantis"
    connectionString="Server=localhost;Port=3306;Database=bugtracker;Uid=root;Pwd=;charset=utf8;SslMode=none;Allow Zero Datetime=true" providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
 <system.serviceModel>
  <bindings>
   <basicHttpBinding>
    <binding name="MantisConnectBinding">
     <security mode="Transport" />
    </binding>
    <binding name="MantisConnectBinding1" />
   </basicHttpBinding>
  </bindings>
  <client>
   <endpoint address="https://www.mantisbt.org/bugs/api/soap/mantisconnect.php"
    binding="basicHttpBinding" bindingConfiguration="MantisConnectBinding"
    contract="mantis.MantisConnectPortType" name="MantisConnectPort" />
  </client>
 </system.serviceModel>
<system.diagnostics>
        <sources>
            <source name="System.IdentityModel" switchValue="All">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="IdentityModelListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add initializeData="C:\Tracing\App_identitymodellog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
             name="IdentityModelListener" traceOutputOptions="Timestamp, Callstack">
                <filter type="" />
            </add>
        </sharedListeners>
        <trace autoflush="true" />
    </system.diagnostics>
</configuration>